body {
    background-image: url("mp2.jpg"), url("mp1.jpg"), url("pp1.jpg"), url("pp2.jpg"), url("pp3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: cursive;
}

@keyframes laptopSlideshow {
    0% { background-image: url("pp1.jpg"); }
    5% { background-image: url("pp2.jpg"); }
    10% { background-image: url("pp3.jpg"); }
    15% { background-image: url("pp1.jpg"); }
    20% { background-image: url("pp2.jpg"); }
    25% { background-image: url("pp3.jpg"); }
    30% { background-image: url("pp1.jpg"); }
    35% { background-image: url("pp2.jpg"); }
    40% { background-image: url("pp3.jpg"); }
    45% { background-image: url("pp1.jpg"); }
    50% { background-image: url("pp2.jpg"); }
    55% { background-image: url("pp3.jpg"); }
    60% { background-image: url("pp1.jpg"); }
    65% { background-image: url("pp2.jpg"); }
    70% { background-image: url("pp3.jpg"); }
    75% { background-image: url("pp1.jpg"); }
    80% { background-image: url("pp2.jpg"); }
    85% { background-image: url("pp3.jpg"); }
    90% { background-image: url("pp1.jpg"); }
    95% { background-image: url("pp2.jpg"); }
    100% { background-image: url("pp3.jpg"); }
}

@keyframes mobileSlideshow {
    0% { background-image: url("mp1.jpg"); }
    5% { background-image: url("mp2.jpg"); }
    10% { background-image: url("mp3.jpg"); }
    15% { background-image: url("mp1.jpg"); }
    20% { background-image: url("mp2.jpg"); }
    25% { background-image: url("mp3.jpg"); }
    30% { background-image: url("mp1.jpg"); }
    35% { background-image: url("mp2.jpg"); }
    40% { background-image: url("mp3.jpg"); }
    45% { background-image: url("mp1.jpg"); }
    50% { background-image: url("mp2.jpg"); }
    55% { background-image: url("mp3.jpg"); }
    60% { background-image: url("mp1.jpg"); }
    65% { background-image: url("mp2.jpg"); }
    70% { background-image: url("mp3.jpg"); }
    75% { background-image: url("mp1.jpg"); }
    80% { background-image: url("mp2.jpg"); }
    85% { background-image: url("mp3.jpg"); }
    90% { background-image: url("mp1.jpg"); }
    95% { background-image: url("mp2.jpg"); }
    100% { background-image: url("mp3.jpg"); }
}

.countdown {
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #ffcc00;
}

.countdown h1 {
    font-size: 48px;
    margin: 0;
    color: #ff0080; /* Updated color */
}

.countdown p {
    font-size: 24px;
    margin: 5px 0;
}

.birthday-message {
    font-size: 36px;
    color: #ff4500;
}

/* Media query for laptop view */
@media (min-width: 769px) {
    body {
        animation: laptopSlideshow 160s infinite;
    }
}

/* Media query for mobile view */
@media (max-width: 768px) {
    body {
        animation: mobileSlideshow 160s infinite;
    }
}
